%h1.page-header-text
  %b Bartosz Łęcki

%h2
  %a.no-font-style{href: "https://twitter.com/bartlecki"}
    %img{src: "http://paymentmagnates.com/wp-content/uploads/2014/04/twitter-icon.png", width: "64", height: "64"}
  
  %a.no-font-style{href: "https://www.facebook.com/bartosz.lecki"}
    %img{src: "http://img2.wikia.nocookie.net/__cb20130501121248/logopedia/images/f/fb/Facebook_icon_2013.svg", width: "64", heigth: "64"}
  